body{
    padding: 0px;
    margin: 0px;
}
#Head {
    width: 100%;
    background-color: black;
    height: 4rem;
    color: white;
    position: sticky;
}

.sideIcon,
header,
.mainIcon {
    display: inline-block;
}
.mainIcon{
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}
.sideIcon{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
header{
    padding-left: 2rem;
}
.login{
    border: 0px;
    border-radius: 10px;
   border-top-left-radius: 25px;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
}




#mainBox {
    background-color: rgb(179, 164, 164);
    height: 100vh;
    color: white;

}

.toDoList-box {
    position: relative;
    left: 15%;
    top: 20%;
    width: fit-content;
}

.nameOfToDo {

    position: relative;
    top: 15%;
    left: 15%;
    width: fit-content;
}

h2 {
    font-size: 1.5rem;
    color: rgba(36, 36, 36, 0.749);
}

#toDo-taskName {
    width: 40vw;
    border: 0px;
    border-radius: 100px;
    padding: 5px;
    padding-left: 10px;
}

#toDo-task {
    width: 40vw;
    border: 0px;
    border-radius: 100px;
    padding: 5px;
    padding-left: 10px;
}

@media (min-width:1024px) {

    #toDo-task,
    #toDo-taskName {
        width: 30vw;
        margin-top: 30px;
    }

    .toDoList-box {
        position: absolute;
        right: 8%;
        left: auto;
        top: 33%;

    }

    .nameOfToDo {

        position: relative;
        top: 25%;
        left: 15%;

    }
}


.last-box {

    background-color: rgba(168, 164, 164, 0.21);
    width: 100%;
    height: 80px;
    padding-top: 12px;
    padding-bottom: 10px;
}

small {
    position: relative;
    left: 20px;
}

#footer {
    float: right;
    right: 10px;
}

#footer svg {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}